body {
  margin: 25px;
  font-size: 12pt;
  width:500px;
}

h1 {
  margin: 10px;
}

ul {
  margin: 20px 0;
  padding-left: 40px;
}

li {
  margin: 10px;
}
li.first {
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

a {
  color: #000000;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a.src {
  font-size: 10pt;
  text-decoration: none;
}

a.src:hover {
  text-decoration: underline;
}

a.email-link {
  font-size: 12pt;
}

p.cover-letter {
  padding-top: 30px;
} 
